<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <login-form (authenticationChange)="onTokenEvent($event)" *ngIf="token == null"></login-form>
  <main-panel [user]="token.user" *ngIf="token != null"></main-panel>
</div>
