<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group">
                <input [(ngModel)]="loginForm.emailAddress" name="email_address" class="form-control" placeholder="E-mail" type="email" autofocus>
              </div>
              <div class="form-group">
                <input [(ngModel)]="loginForm.password" class="form-control" placeholder="Password" name="password" type="password" value="">
              </div>
              <div class="checkbox">
                <label>
                  <input [checked]="rembemberMe" (change)="rembemberMe=!rembemberMe" name="remember" type="checkbox" value="Remember Me">Remember Me
                </label>
              </div>
              <button (click)="signIn()" class="btn btn-lg btn-success btn-block">Login</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
